<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong><i class="fas fa-check-circle"></i>  {{message}}</strong> 
    <button type="button" class="close" (click)="clearMessage()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cadastro de Profissional</h6>
    </div>
    <div class="card-body">

        <form [formGroup]="formCadastroProfissional" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-6">
                    <label class="mt-4">Nome: <strong id="obrigatorio">*</strong></label>
                    <input type="text" class="form-control"
                        formControlName="nome" />
                    <div class="text-danger" 
                        *ngIf="form.nome.touched && form.nome.invalid">
                        <span *ngIf="form.nome.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe o nome.
                        </span>

                        <span *ngIf="form.nome.errors.minlength">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe pelo meno 6 caracteres.
                        </span>
                    </div>

                    <label class="mt-4">E-mail: <strong id="obrigatorio">*</strong></label>
                    <input type="text" class="form-control"
                    formControlName="email" />

                    <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                        <span *ngIf="form.email.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe o E-mail.
                        </span>

                        <span *ngIf="form.email.errors.minlength">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe pelo meno 6 caracteres.
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="mt-4">CPF: <strong id="obrigatorio">*</strong></label>
                        <input type="text" class="form-control"
                            formControlName="cpf" />
                        <div class="text-danger" 
                            *ngIf="form.cpf.touched && form.cpf.invalid">
                            <span *ngIf="form.cpf.errors.required">
                                <i class="fa fa-exclamation-circle"></i>
                                Por favor, informe o cpf.
                            </span>
    
                            <span *ngIf="form.cpf.errors.minlength">
                                <i class="fa fa-exclamation-circle"></i>
                                Por favor, informe pelo meno 11 caracteres.
                            </span>
                        </div>
    
                        <label class="mt-4">Telefone: <strong id="obrigatorio">*</strong></label>
                        <input type="text" class="form-control"
                        formControlName="telefone" />
    
                        <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
                            <span *ngIf="form.telefone.errors.required">
                                <i class="fa fa-exclamation-circle"></i>
                                Por favor, informe o telefone.
                            </span>
    
                            <span *ngIf="form.telefone.errors.minlength">
                                <i class="fa fa-exclamation-circle"></i>
                                Por favor, informe o telefone.
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-10">
                    <label class="mt-4">Observações: <strong id="obrigatorio">*</strong></label>
                    <textarea class="form-control"
                    formControlName="observacao"></textarea>
                    <div class="text-danger" *ngIf="form.observacao.touched && form.observacao.invalid">
                        <span *ngIf="form.observacao.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe o observacao.
                        </span>

                        <span *ngIf="form.observacao.errors.minlength">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, insira uma observação.
                        </span>
                    </div>
                </div>
            </div>

            <button class="btn btn-success mt-4"  type="submit" 
                [disabled]="!formCadastroProfissional.valid">
                <i class="fa fa-check-circle"></i> Salvar

            </button>

        </form>

    </div>
</div>